<footer>
    <div class="container">
        <div>
            <div>
                <h1>Blast!</h1>
            </div>
    
            <ul>
                <li>Telephone:</li>
                <li>876-555-5555</li>
                <li>876-554-4455</li>
            </ul>
            <br>
            <ul>
                <li>Email:</li>
                <li>blastjamcaica@domain.com</li>
            </ul>
        </div>

        <div>
            <h2>Navigation</h2>

            <ul>
                <li>
                    <a href="">
                        Home
                    </a>
                </li>
                <li>
                    <a href="">
                        Services
                    </a>
                </li>
                <li>
                    <a href="">
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <br>
    <div class="container" style="border-top: 1px solid #ccc;">
        <p style="padding: 2.3rem 0;">
            Blast Jamaica Limited 
        </p>
    </div>
</footer>