<section>
    <nav>
        <mat-toolbar color="warn">
            <span>
                <a href="">
                    Blast!
                </a>
            </span>

            <app-search-bar></app-search-bar>

            <ul>
                <li>
                    <a href="" mat-button>
                        Write a Review
                    </a>
                </li>
                <li>
                    <a href="" mat-button>
                        About
                    </a>
                </li>
                <li>
                    <a href="" mat-button>
                        Login
                    </a>
                </li>
                <li>
                    <a href="" mat-button>
                        Signup
                    </a>
                </li>
            </ul>
        </mat-toolbar>
    </nav>
</section>  

