.hero{
    // position: relative;
    width: 100%;
    // display: flex;
    // background: url(https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_large_assets/8a6cc705477a/assets/img/home/hero_photos/uteUmycsbh0UibXk-At-3A.jpg) center; 
    height: 60vh; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // filter: brightness(0.8);
    // backdrop-filter: brightness(0.5);
}