
<div>
    <form class="form" [formGroup]="registerForm" (ngSubmit)="addUser(registerForm)">
        <h1 class="form-title">Registration Form</h1>

        <!-- first  and last name information -->
        <div class="firstAndlastName">
            <div class="input-field">
                <mat-form-field appearance="outline">
                    <mat-label for="firstName">First Name</mat-label>
                        <input type="text" matInput name="firstName" placeholder="First Name" formControlName="firstName" >
    
                        <div class="errors" *ngIf="firstName?.invalid && firstName?.touched">
                            <mat-error *ngIf="firstName?.errors?.['required']">Please enter first name</mat-error>
                        </div>
                </mat-form-field>
            </div>
    
            <!-- last name information -->
            <div class="input-field">
                <mat-form-field appearance="outline">
                    <mat-label for="lastName">Last Name</mat-label>
                        <input type="text" matInput  name="lastName" placeholder="Last Name" formControlName="lastName">
    
                            <div class="errors" *ngIf="lastName?.invalid && lastName?.touched">
                                <mat-error *ngIf="lastName?.errors?.['required']">Please enter last name</mat-error>
                            </div>
                </mat-form-field>
            </div>
        </div>
        

        <!-- email information -->
        <div class="input-field">
            <mat-form-field appearance="outline">
                <mat-label for="email">Email</mat-label>
                <input type="email" name="email" matInput placeholder="Email" formControlName="email">

                <div class="errors" *ngIf="email?.invalid && email?.touched">
                    <mat-error *ngIf="email?.errors?.['required']">Please enter email</mat-error>
                    <mat-error *ngIf="email?.errors?.['pattern']">Please enter a valid email</mat-error>
                </div>
            </mat-form-field>
        </div>

        <!-- Phone number information -->
        <div class="input-field">
            <mat-form-field appearance="outline">
                <mat-label for="PhoneNumber">Phone Number</mat-label>
                <input type="tel" name="phoneNumber" matInput placeholder="XXX-XXX-XXXX" formControlName="phoneNumber">

                <div class="errors" *ngIf="phoneNumber?.invalid && phoneNumber?.touched">
                    <mat-error *ngIf="phoneNumber?.errors?.['required']">Please enter phone number</mat-error>
                    <mat-error *ngIf="phoneNumber?.errors?.['pattern']">Please enter a valid phone number</mat-error>
                </div>
            </mat-form-field>
        </div>

        <!-- address information -->
        <div formGroupName="address">
            <div class="input-field">
                <mat-form-field appearance="outline">
                    <mat-label for="address">Address</mat-label>
                    <input type="text" matInput  name="address" placeholder="Street Address" formControlName="streetAddress">
                </mat-form-field>
            </div>

            <div class="address-sub">
                <mat-form-field> 
                    <mat-label for="address">City</mat-label>    
                    <input type="text" matInput placeholder="City" formControlName="addressCity">
                </mat-form-field> 

                <mat-form-field appearance="fill">
                    <mat-label>Parish</mat-label>
                    <mat-select formControlName="addressParish">
                        <mat-option *ngFor="let parish of parishes" [value]="parishes.value">
                            {{parish.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <!-- date of birth information -->
        <div class="input-field">
            <label for="dob">Date of Birth</label>
            <input type="date" name="dob" placeholder="Enter text" formControlName="dob">

            <div class="errors" *ngIf="dob?.invalid && dob?.touched">
                <span *ngIf="dob?.errors?.['required']">Please enter a valid date of birth</span>
            </div>
        </div>

        <!-- password information -->
        <div class="input-field">
            <label for="password" class="required-field">Password</label>
            <input type="password" name="password" placeholder="Password" formControlName="password">
            <span *ngIf="password?.errors?.['pattern'] || password?.invalid" class="hint">Password must have at least 8 characters. Must contain at least one uppercase letter, one number & one special character</span>

            <div class="errors" *ngIf="password?.invalid && password?.touched">
                <span *ngIf="password?.errors?.['required']">Please enter a password</span>
            </div>
        </div>

        <!-- confirm passowrd information -->
        <div class="input-field">
            <label for="confirmPassword" class="required-field">Confirm Password</label>
            <input type="password" name="lastName" placeholder="Confirm Password" formControlName="confirmPassword">

            <div class="errors" *ngIf="confirmPassword?.invalid && confirmPassword?.touched">
                <span *ngIf="confirmPassword?.errors?.['mismatch']">Passwords do not match</span>
            </div>
        </div>

        <!-- submit button -->
        <button class="signup-button" [disabled]="!registerForm.valid">Sign Up</button>
    </form>
</div>
