.searchForm {
    display: flex;
    background: white;
}
.inputCtrl{
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
input{
    width: 30rem;
    padding: 1.5px 10px;
    font-size: 1rem;
    border: none;
    outline: none;
    color: black;

}
button{
    // background: black;
}
mat-icon{
    // color: white;
}